<%- include('../partials/header') %>

<h2><%= title %></h2>


<form class="new-edit-hike-form" action="/hikes/<%= hike.id %>?_method=PUT" method="POST" autocomplete="off">
    <label>Name of Trail/Hike:
      <br>
      <input type="text" name="name" value="<%= hike.name %>">
    </label>
    
    <label>Location:
      <br>
      <input type="text" name="location" value="<%= hike.location %>">
    </label>
    
    <label>Difficulty:
      <br>
      <select name="difficulty">
        <option value="Easy" <% if (hike.difficulty === 'Easy') { %>selected<% } %>>Easy</option>
        <option value="Moderate" <% if (hike.difficulty === 'Moderate') { %>selected<% } %>>Moderate</option>
        <option value="Challenging" <% if (hike.difficulty === 'Challenging') { %>selected<% } %>>Challenging</option>
        <option value="Advanced" <% if (hike.difficulty === 'Advanced') { %>selected<% } %>>Advanced</option>
      </select>
    </label>
    
    <label>Route Type:
      <br>
      <select name="routeType">
        <option value="Loop" <% if (hike.routeType === 'Loop') { %>selected<% } %>>Loop</option>
        <option value="Out and Back" <% if (hike.routeType === 'Out and Back') { %>selected<% } %>>Out and Back</option>
        <option value="Point to Point" <% if (hike.routeType === 'Point to Point') { %>selected<% } %>>Point to Point</option>
      </select>
    </label>
    
    <label>Length (in miles):
      <br>
      <input type="text" name="length" pattern="\d+(\.\d{1})?" value="<%= hike.length %>" required>
    </label>
    
    <label>Description:
      <br>
      <textarea name="description" cols="30" rows="10" value="<%= hike.description %>"><%= hike.description %></textarea>
    </label>

    <fieldset>
        <legend>Categories (select all that apply):</legend>
        <label>
          <input type="checkbox" name="categories" value="Dog-Friendly" <% if (hike.categories.includes('Dog-Friendly')) { %>checked<% } %>> 
          Dog-Friendly
        </label>

        <label>
          <input type="checkbox" name="categories" value="Kid-Friendly" <% if (hike.categories.includes('Kid-Friendly')) { %>checked<% } %>> 
          Kid-Friendly
        </label>
      
        <label>
          <input type="checkbox" name="categories" value="River" <% if (hike.categories.includes('River')) { %>checked<% } %>>
          River
        </label>

        <label>
          <input type="checkbox" name="categories" value="Scenic Views" <% if (hike.categories.includes('Scenic Views')) { %>checked<% } %>>
          Scenic Views
        </label>

        <label>
          <input type="checkbox" name="categories" value="Scramble" <% if (hike.categories.includes('Scramble')) { %>checked<% } %>>
          Scramble
        </label>
      
        <label>
          <input type="checkbox" name="categories" value="Waterfalls" <% if (hike.categories.includes('Waterfalls')) { %>checked<% } %>> 
          Waterfalls
        </label>
        
        <label>
          <input type="checkbox" name="categories" value="Wildflowers" <% if (hike.categories.includes('Wildflowers')) { %>checked<% } %>> 
          Wildflowers
        </label>
        
        <label>
          <input type="checkbox" name="categories" value="Wildlife" <% if (hike.categories.includes('Wildlife')) { %>checked<% } %>> 
          Wildlife
        </label>
        
      </fieldset>
  
    <br>
    <input class="add-edit-hike" type="submit" value="Submit">
  </form>


<%- include('../partials/footer') %>