<%- include('../partials/header') %>

<h2><%= title %></h2>
<div>sorting method</div>

<section id="hikes-index-section">
<% hikes.forEach((hike) => { %>
    <article class="hikes-index-card">
        <span class="hikes-index-name"><%= hike.name %></span>
        <span class="hikes-index-location"><%= hike.location %></span>
        <span class="hikes-index-difficulty"><%= hike.difficulty %></span>
        <span class="hikes-index-length"><%= hike.length %></span>
        <a href="/hikes/<%= hike._id %>">Read More</a>
        </article>
<% }) %>
</section>

<%- include('../partials/footer') %>